<main id="main" class="main">
    <div class="pagetitle">
       <h1>DashBoard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Admin</li>
          </ol>
       </nav>
    </div>
    <section class="section faq">
       <div class="row">
          <div class="col-lg-6">
             <div class="card basic">
                <div class="card-body">
                   <h5 class="card-title">Farm Status</h5>
                   <div>
                      <h6>Farm 1</h6>
                     </div>
                  
                </div>
             </div>
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Inventory Status</h5>
                   <div class="accordion accordion-flush" id="faq-group-1">
                     
                      </div>
                   </div>
                </div>
             </div>
          </div>
              </section>
 </main>